body {
	margin:0;
	padding:0;
	background:#e7e7e7;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(255,255,255,.5) 8px, rgba(255,255,255,.5) 10px);
}

h2{
	font-family: 'Michroma', sans-serif;
	font-size: 22px;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2.mobile{
	font-family: 'Michroma', sans-serif;
	font-size: 14px;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3{
	font:normal 14px Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
	margin-top: 0px;
	margin-bottom: 8px;
}

h6 {
	color: gray;
	display:inline;
}

.centered{
	text-align: center;
}

.wrapper{
	position:relative;
	margin: 0 auto;
	width: 65%;
	background:#FFFFFF;
	box-shadow: 0px 0px 15px #bdbdbd;	
}

.fixed{
	top:0;
	position:fixed; 
	height: 20% auto;
	left: 0;
  	right: 0;
  	margin: 0 auto;
  	width: inherit;
  	background: #FFFFFF;
}

#title{
	text-align: center;
	position: relative;
	font-family: 'Michroma', sans-serif;
	color: black;
	background-color: #FFFFFF;
	font-size: 35px;
	padding-top: 2%;
	padding-bottom: 2%;
    border-bottom:1px solid #e7e7e7;
	height: 45%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	z-index: 10;
}

#title.mobile{
	font-size: 20px;
}

.content{
	display: none;
	width: 100%;
	overflow: hidden; 
}

	div #projects {
		margin-top: 16px;
		text-align: center;
		height: auto;
	}

	#banner { 
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;
	}

	#text{
		top: 0;
		overflow: hidden;
		position: relative;
		font:normal 16px Arial, Helvetica, sans-serif;
		color: #616161;
		background-color: #f5f5f5;
		padding: 3%;
	}

#title.smaller{
	font-size: 18px;
	height: 8%;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
}

#title.mobile.smaller{
	font-size: 10px;
	height: 6%;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
}

#navigation{
	text-align: center;
	position: relative;
	background: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #FFFFFF;
	width: 100%;
	font-size: 16px;
	padding-top: 1%;
	padding-bottom: 1%;
    border-bottom:1px solid #e7e7e7;
	height: 10%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	z-index: 10;
}

ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

li {
	display: inline;
}

#navigation a {
	text-decoration: none;
	color: black;
    padding: 15px;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

#banner img{
	border: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

#text img:hover{
    opacity: 0.90;
}

i{
	padding: 5px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

#footer{
	position: relative;
	z-index: 5;
	background: #FFFFFF;
	font: 1em/1.5em 'Voltaire';
	font-size: 16px;
	color: black;	
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 2%;
	height: 8%;
}

#footer a {
	text-decoration: none;
	color: black;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

#footer i:hover{
	opacity: 0.6;
}
