            .playfield{
            width:440px;
            height:440px;
          }
          .playfield div{
            display:inline-block;
            width:140px;
            height:140px         
          }
          .playfield span{
            color: black;
            font: 1em/1.5em 'Cuprum';
            font-size:160%;
            width:44px;
            height:44px;
            float:left; 
            display:block;
            border:1px solid white;
            text-align:center;  
            line-height:42px;
            background-color:#e9e9e9;   
          }
          .playfield span:hover{
            background-color:#0d2f5a;
            color:white; 
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
          }
          .playfield span:hover font{
            color:white; 
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
          }
          font{
            color: red;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
          }

        